/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
docker-compose.override.yml
/public/mix-manifest.json
/public/vendor
/public/VERSION
/.vagrant
/docker
.DS_Store
.influxdb
.influxmount
.redis
supervisord.*
!supervisord.sh
/id_rsa
provision/caddy/tls/*
provision/caddy/caddyfile
.docker-sync
mysql/logs/*.log
/storage/clockwork
/provision/caddy/Caddyfile
manifest.json
.php-cs-fixer.cache
cert.pem
/reports
/stan_tmp
/docs/.vitepress/cache
*.pfx
/clover.xml
/draft.yaml
/.blueprint
/.editorconfig
/storage/media-library/*
/.run
.vapor
package-lock.json
/act.secrets
*.pem
.phpstorm.meta.php
*_ide_helper.php

.cursor

*storybook.log
bun.lockb
