.p-card {
    @apply flex flex-col rounded-xl
        bg-bg-primary
        text-text-primary dark:text-surface-0
        shadow-[0_0_6px_rgba(0,0,0,0.1)];
}

.p-card-caption {
    @apply flex flex-col gap-2;
}

.p-card-body {
    @apply px-4 my-4 flex flex-col gap-2 h-full;
}

.p-card-content {
    @apply flex-1 2xl:overflow-y-auto h-full;
}

.p-card-footer {
    @apply flex justify-center gap-2;
}

.p-card-title {
    @apply font-medium text-xl;
}

.p-card-subtitle {
    @apply text-surface-500 dark:text-surface-400;
}
